# Server Configuration
SERVER_PORT=8000
PROFILE=prod

# Database Configuration
DB_HOST=postgres-aws
DB_PORT=5432
DB_DATABASE=connection-tester
DB_USER=user
DB_PASSWORD=password
DDL_AUTO=update

# Logging
PROMETHEUS_ENABLED=true
JAEGER_ENABLED=true
LOKI_ENABLED=true
JAEGER_URL=http://jaeger:14268/api/traces
LOKI_URL=http://loki:3100/loki/api/v1/push

# Application Settings
PAGE_SIZE=10
CORS_TIME=3600
RATE_LIMIT=20
REFIL_TIME=30s
ALLOWED_ORIGINS=*
ALLOWED_AUTHENTICATED=/actuator/**

# Cloud Cloudflare
CLOUDFLARE_ENDPOINT=http://minio:9000
CLOUDFLARE_ACCESS_KEY=minioadmin
CLOUDFLARE_SECRET_KEY=minioadmin
CLOUDFLARE_BUCKET_NAME=image
CLOUDFLARE_DDL_AUTO=update
CLOUDFLARE_ACCELERATE=false

# Settings Security
ADMIN_USER=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Kafka Configuration
# kafka:9092
KAFKA-SERVICE-1=kafka:29092
PRODUCER-ID=producer-app-01
KAFKA-TOPIC=my-main-topic

