# Server Configuration
SERVER_PORT=8001
PROFILE=prod

# Database Configuration
DB_HOST=postgres-consumer
DB_PORT=5432
DB_DATABASE=kafka-reciever
DB_USER=user
DB_PASSWORD=password
DDL_AUTO=update

# Application Settings
PAGE_SIZE=10
CORS_TIME=3600
RATE_LIMIT=20
REFIL_TIME=30s
ALLOWED_ORIGINS=*

# Kafka Configuration
# kafka:9092
KAFKA-SERVICE-1=kafka:29092
CONSUMER-ID=my-consumer-group
KAFKA-TOPIC=my-main-topic


