<configuration>
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>https://logs-prod3.grafana.net/loki/api/v1/push</url>
      <user>${LOKI_USER}</user>
      <password>${LOKI_PASSWORD}</password>
    </http>
    <encoder class="com.github.loki4j.logback.json.JsonEncoder">
      <pattern>
        {
          "timestamp":"%date",
          "level":"%level",
          "thread":"%thread",
          "logger":"%logger",
          "message":"%msg"
        }
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOKI"/>
  </root>
</configuration>
