<configuration>

	<!-- LOKI Logging -->
	<appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
		<http>
			<url>${LOKI_URL}</url>
		</http>
		<format>
			<label>
				<pattern>app=${spring.application.name:awstest},level=%level</pattern>
			</label>
			<message>
				<pattern>
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level)
					%green([%-50.50class]) >>> %cyan(%msg) %n
				</pattern>
			</message>
		</format>
	</appender>

	<!-- Console Logging -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="LOKI" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
